################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Bingo/.vs/Bingo/v15
/Bingo/bin/Debug
/Bingo/obj/Debug
/BingoSandbox/bin/Debug
/BingoSandbox/obj/Debug
/.vs
/Bingo/Bingo.sln.DotSettings
/Bingo/.vs/Bingo/DesignTimeBuild/.dtbcache
